.banner-bg{
    background-image: url('../../assets/images/home_banner.jpeg');
    background-attachment: fixed;
    height: 90vh;
    /* padding-top: 150px;
    padding-bottom: 150px; */
    background-size: cover;
}
.roaming-dots {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .roaming-dots::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, transparent 50%, rgba(255, 255, 255, 0.5) 50%);
    background-size: 3px 3px;
    z-index: -1;
    animation: roaming-dots 2s linear infinite;
  }
  
  @keyframes roaming-dots {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 100%;
    }
  }
  
.button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 16px;
    padding-left: 16px;
    background-color: white;
    color: #dca54c;
}
.button:hover {
    background-color: #dca54c;
    color: white;
}

